[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

svg[class^="icon-"],
svg[class*=" icon-"] {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg[class^="icon-"]:hover,
svg[class*=" icon-"]:hover {
  fill: #34e4cd;
}

.icons {
  display: flex;
}

.icon-skills:hover {
  color: #34e4cd;
}


.icon-menu {
  fill: #fff !important;
  display: none;
}


.icon-social {
  margin-right: 1px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 1em;
  width: 1em;
  background: #c8cdd0;
  color: #fff;
  font-size: 49px;
}

.icon-social > .fab {
  font-size: 0.4em;
}

.icon-skills {
  font-size: 2em;
  color: #23b7a4;
  margin-bottom: 30px;
}
.icon-gVrq5ki01, .icon-mobile, .icon-clock {
  width: 50px !important;
  height: 50px  !important;
  fill: #23b7a4 !important;
  margin-bottom: 10px;
}
